sudo: required

os:
  - linux

language: php

php:
  - 7.0
  - 7.1
  - 7.2

services:
  - docker

install:
  - composer install
  - docker-compose up -d

script: phpunit --configuration phpunit.xml --debug