parameters:
    level: 5
    paths:
       - %rootDir%/../../../src
    ignoreErrors:
        - '/Call to an undefined method FFI::.*/'
        - '/Access to an undefined property FFI::\$InteractionPart.*/'
