parameters:
    level: max
    paths:
        - src
        - tests
        - example
    excludePaths:
        analyseAndScan:
            - example/protobuf-async-message/library/src
            - example/protobuf-sync-message/library/src
    treatPhpDocTypesAsCertain: false
    bootstrapFiles:
        - example/binary/consumer/autoload.php
        - example/binary/provider/autoload.php
        - example/csv/consumer/autoload.php
        - example/csv/provider/autoload.php
        - example/form-urlencoded/consumer/autoload.php
        - example/form-urlencoded/provider/autoload.php
        - example/generators/consumer/autoload.php
        - example/generators/provider/autoload.php
        - example/graphql/consumer/autoload.php
        - example/graphql/provider/autoload.php
        - example/json/consumer/autoload.php
        - example/json/provider/autoload.php
        - example/matchers/consumer/autoload.php
        - example/matchers/provider/autoload.php
        - example/message/consumer/autoload.php
        - example/message/provider/autoload.php
        - example/multipart/consumer/autoload.php
        - example/multipart/provider/autoload.php
        - example/protobuf-async-message/consumer/autoload.php
        - example/protobuf-async-message/provider/autoload.php
        - example/protobuf-sync-message/consumer/autoload.php
        - example/protobuf-sync-message/provider/autoload.php
        - example/server-sent-events/consumer/autoload.php
        - example/server-sent-events/provider/autoload.php
        - example/stub-server/consumer/autoload.php
        - example/xml/consumer/autoload.php
        - example/xml/provider/autoload.php
