<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./vendor/autoload.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./src/PhpPact</directory>
    </include>
    <report>
      <clover outputFile="./test_results/reports/test_coverage_results.xml"/>
      <html outputDirectory="./test_results/coverage/" lowUpperBound="70"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="PhpPact Core Tests">
        <directory>./tests</directory>
    </testsuite>
    <testsuite name="PhpPact Json Consumer Example Tests">
        <directory>./example/json/consumer/tests</directory>
    </testsuite>
    <testsuite name="PhpPact Json Provider Example Tests">
        <directory>./example/json/provider/tests</directory>
    </testsuite>
    <testsuite name="PhpPact Binary Consumer Example Tests">
        <directory>./example/binary/consumer/tests</directory>
    </testsuite>
    <testsuite name="PhpPact Binary Provider Example Tests">
        <directory>./example/binary/provider/tests</directory>
    </testsuite>
    <testsuite name="PhpPact Multipart Consumer Example Tests">
        <directory>./example/multipart/consumer/tests</directory>
    </testsuite>
    <testsuite name="PhpPact Multipart Provider Example Tests">
        <directory>./example/multipart/provider/tests</directory>
    </testsuite>
    <testsuite name="PhpPact Xml Consumer Example Tests">
        <directory>./example/xml/consumer/tests</directory>
    </testsuite>
    <testsuite name="PhpPact Xml Provider Example Tests">
        <directory>./example/xml/provider/tests</directory>
    </testsuite>
    <testsuite name="PhpPact Message Consumer Example Tests">
        <directory>./example/message/consumer/tests</directory>
    </testsuite>
    <testsuite name="PhpPact Message Provider Example Tests">
        <directory>./example/message/provider/tests</directory>
    </testsuite>
    <testsuite name="PhpPact Matchers Consumer Example Tests">
        <directory>./example/matchers/consumer/tests</directory>
    </testsuite>
    <testsuite name="PhpPact Matchers Provider Example Tests">
        <directory>./example/matchers/provider/tests</directory>
    </testsuite>
    <testsuite name="PhpPact Generators Consumer Example Tests">
        <directory>./example/generators/consumer/tests</directory>
    </testsuite>
    <testsuite name="PhpPact Generators Provider Example Tests">
        <directory>./example/generators/provider/tests</directory>
    </testsuite>
    <testsuite name="PhpPact Csv Consumer Example Tests">
        <directory>./example/csv/consumer/tests</directory>
    </testsuite>
    <testsuite name="PhpPact Csv Provider Example Tests">
        <directory>./example/csv/provider/tests</directory>
    </testsuite>
    <testsuite name="PhpPact Protobuf Sync Message Consumer Example Tests">
        <directory>./example/protobuf-sync-message/consumer/tests</directory>
    </testsuite>
    <testsuite name="PhpPact Protobuf Sync Message Provider Example Tests">
        <directory>./example/protobuf-sync-message/provider/tests</directory>
    </testsuite>
    <testsuite name="PhpPact Protobuf Async Message Consumer Example Tests">
        <directory>./example/protobuf-async-message/consumer/tests</directory>
    </testsuite>
    <testsuite name="PhpPact Protobuf Async Message Provider Example Tests">
        <directory>./example/protobuf-async-message/provider/tests</directory>
    </testsuite>
  </testsuites>
  <logging>
    <junit outputFile="./test_results/reports/unit_test_results.xml"/>
  </logging>
  <php>
    <env name="PACT_CONSUMER_NAME" value="someConsumer"/>
    <env name="PACT_PROVIDER_NAME" value="someProvider"/>
    <env name="PACT_LOGLEVEL" value="DEBUG"/>
  </php>
</phpunit>
