<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./vendor/autoload.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd" cacheDirectory=".phpunit.cache">
  <coverage>
    <report>
      <clover outputFile="./test_results/reports/test_coverage_results.xml"/>
      <html outputDirectory="./test_results/coverage/" lowUpperBound="70"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="unit">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
  <logging>
    <junit outputFile="./test_results/reports/unit_test_results.xml"/>
  </logging>
  <php>
    <env name="PACT_CONSUMER_NAME" value="someConsumer"/>
    <env name="PACT_PROVIDER_NAME" value="someProvider"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">./src/PhpPact</directory>
    </include>
  </source>
</phpunit>
