<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./vendor/autoload.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./src/PhpPact</directory>
    </include>
    <report>
      <clover outputFile="./test_results/reports/test_coverage_results.xml"/>
      <html outputDirectory="./test_results/coverage/" lowUpperBound="70"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="PhpPact Core Test Suite">
      <directory>./tests/PhpPact</directory>
    </testsuite>
  </testsuites>
  <logging>
    <junit outputFile="./test_results/reports/unit_test_results.xml"/>
  </logging>
  <php>
    <env name="PACT_CONSUMER_NAME" value="someConsumer"/>
    <env name="PACT_CONSUMER_VERSION" value="1.0.0"/>
    <env name="PACT_BROKER_URI" value="http://localhost"/>
    <env name="PACT_LOGLEVEL" value="DEBUG"/>
    <!-- <env name="PACT_BROKER_BEARER_TOKEN" value="someToken"/> -->
  </php>
</phpunit>
